AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_SCOPE=
AZURE_CLIENT_APP_ID=
AZURE_CLIENT_SECRET=
AZURE_REDIRECT_URI=
SESSION_SECRET=
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_INDEX=
AZURE_SEARCH_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_BACKEND_CLIENT_ID=
AZURE_BACKEND_CLIENT_SECRET=
AZURE_API_URI=